<% if data.length > 0 %>
    <div class="main_object_control">
      <div class="item_row_headers">
        <div class="item_row_header_object_labels">
          <% data[0].object_labels.each do |f| %>
              <%= f.label %>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
      <% data.each do |obj| %>
          <div class="item"><%= obj.render(:view) %></div>
          <div class="clear"></div>
      <% end %>
    </div>

<% else %>
    <h4>Ничего не найдено</h4>
<% end %>