<!DOCTYPE >
<html>
	<head>
		<%= javascript_include_tag "application", "user"%>
		<%= stylesheet_link_tag "application", "styles" %>
	</head>
	
	<body>
		<%= render 'my_admin/header', :model => @model %>
        <div id="main">
		    <%= yield %>
        </div>
	</body>
</html>
